{% include 'header.html' %}

{% if report %}
<!--
{{ report|to_json|safe }}
-->
{% endif %}

<b>{{ coursename }} ({{qz.total_questions(course=coursename)}} total)</b><br>
<ul>
    <li><a href="{{ '/quiz/' + coursename + '/all' }}">start course quiz</a></li>
    <li><a href="{{ '/test/' + coursename + '/all' }}">start course test</a></li>
    <li>
        <form action="" method="post" novalidate>
        {{ searchform.hidden_tag() }}
        <!-- {{ searchform.querystring.label }} -->
        {{ searchform.querystring(size=50) }}
        {{ searchform.submit() }}
        </form>
    </li>
</ul>

{% for chaptername in chapternames %}
<b>({{ chaptername }}) {{qz.get_course_chapter_title(coursename, chaptername)}} ({{qz.total_questions(course=coursename, chapter=chaptername)}} total)</b>
<ul>
<a href="{{ '/quiz/' + coursename + '/' + chaptername|string }}">start chapter quiz</a> <br>
<a href="{{ '/test/' + coursename + '/' + chaptername|string }}">start chapter test</a> <br>
</ul>
    {% if report %}
        <ul>
        {% if chaptername|string in report[coursename|string] %}
        <table style="width:30%;text-align:right">
            <tr>
                <th>section</th>
                <th>total</th>
                <th>correct</th>
                <th>incorrect</th>
            </tr>
        {% for section,results in report[coursename|string][chaptername|string].items() %}
            <!--
            {{ section }}
            {{ results|to_json|safe }}
            -->
            <tr>
                <td><a href="{{ '/quiz/' + coursename + '/' + chaptername|string + '/' + section|string }}">{{ section }}</a> </td>
                <td>{{ qz.total_questions(course=coursename, chapter=chaptername, section=section) }}</td>
                <td><progress value="{{ results['correct'] }}" max="{{ results['total'] }}"></progress></td>
                <td><progress value="{{ results['incorrect'] }}" max="{{ results['total'] }}"></progress></td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
        </ul>
    {% endif %}

{% endfor %}

{% include 'footer.html' %}
